<div *ngIf="isLogin; else notLogin">
  <h1 class="display-4 ">Add new document</h1>

  <hr>

  <br>
  <form (ngSubmit)="f.form.valid && addDoc()" #f="ngForm" novalidate>
    <div class="row">
      <div class="col">
        <label for="id">Id</label>
        <input type="text" class="form-control" placeholder="auto complete" name="id" [(ngModel)]="form.id"
          #id="ngModel" disabled />
      </div>
      <div class="col">
        <div class="form-group">
          <label for="title">Title</label>
          <a data-toggle="collapse" href="#collapseTitle" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            *</a>
          <div class="collapse" id="collapseTitle">
            <small class="form-text alert alert-info">
              Be careful, the title is set <strong>1 time</strong> and after successful creation of the document it
              <strong>can't be changed</strong>
            </small>
          </div>
          <input type="text" class="form-control" name="title" [(ngModel)]="form.title" #title="ngModel" required
            minlength="10"
            [ngClass]="{'is-valid':title.valid && title.touched,'is-invalid':title.invalid && title.touched}" />
          <div *ngIf="f.submitted && title.invalid || title.touched && title.invalid">
            <small class="form-text alert alert-warning" *ngIf="title.errors.required">Title is required</small>
            <small class="form-text alert alert-warning" *ngIf="title.errors.minlength">Title must be at least 10
              characters</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="dateOfCreation">Date of creation</label>
          <input type="date" class="form-control" name="dateOfCreation" [(ngModel)]="form.dateOfCreation"
            #dateOfCreation="ngModel"
            [ngClass]="{'is-valid':dateOfCreation.valid && dateOfCreation.touched,'is-invalid':dateOfCreation.invalid && dateOfCreation.touched}" />
          <div *ngIf="f.submitted && dateOfCreation.invalid || dateOfCreation.touched && dateOfCreation.invalid">
            <small class="form-text alert alert-warning" *ngIf="dateOfCreation.errors.required">Date of creation is
              required</small>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="contractTerm">Contract term</label>
          <a data-toggle="collapse" href="#collapseTerm" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            *</a>
          <div class="collapse" id="collapseTerm">
            <small class="form-text alert alert-info">
              This field sets the duration in <strong>days</strong>
            </small>
          </div>
          <input type="number" min="1" class="form-control" name="contractTerm" [(ngModel)]="form.contractTerm"
            #contractTerm="ngModel" required
            [ngClass]="{'is-valid':contractTerm.valid && contractTerm.touched,'is-invalid':contractTerm.invalid && contractTerm.touched}" />
          <div *ngIf="f.submitted && contractTerm.invalid || contractTerm.touched && contractTerm.invalid">
            <small class="form-text alert alert-warning" *ngIf="contractTerm.errors.required">Contract term is
              required</small>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="customer">Customer</label>
          <input type="text" class="form-control" name="customer" [(ngModel)]="form.customer" #customer="ngModel"
            required
            [ngClass]="{'is-valid':customer.valid && customer.touched,'is-invalid':customer.invalid && customer.touched}" />
          <div *ngIf="f.submitted && customer.invalid || customer.touched && customer.invalid">
            <small class="form-text alert alert-warning" *ngIf="customer.errors.required">Customer term is
              required</small>
          </div>
        </div>
      </div>
      <div class="col ">
        <div class="form-group">
          <label for="documentDescription">Document description</label>
          <textarea required minlength="20" class="form-control" name="documentDescription" rows="3"
            [(ngModel)]="form.documentDescription" #documentDescription="ngModel"
            [ngClass]="{'is-valid':documentDescription.valid && documentDescription.touched,'is-invalid':documentDescription.invalid && documentDescription.touched}"></textarea>
          <div
            *ngIf="f.submitted && documentDescription.invalid || documentDescription.touched && documentDescription.invalid">
            <small class="form-text alert alert-warning" *ngIf="documentDescription.errors.required">Description is
              required</small>
            <small class="form-text alert alert-warning" *ngIf="documentDescription.errors.minlength">Description must
              be at least 20 characters</small>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <hr>
      <button [disabled]="title.invalid || documentDescription.invalid || customer.invalid || contractTerm.invalid"
        class="btn btn-success">Add new file</button>
      <div><br></div>
      <small *ngIf="f.submitted && isFailed" class="form-text alert alert-danger">
        {{errorMessage}}
      </small>
    </div>
  </form>
</div>

<ng-template #notLogin>
  <div class="alert alert-danger" role="alert">
    <h2 class="alert-heading">Oops...</h2>
    <hr>
    <h5 class="mb-0">Unauthorized users are denied access. Please <a routerLink="/login" class="alert-link">login</a>!
    </h5>
  </div>
</ng-template>