<div class="container pt-3">
  <div class="row">
    <div class="col">
      <h3>Choose category of documents: </h3>
    </div>
    <div class="col">
      <select class="custom-select" [(ngModel)]="patternItem">
        
        <option value="1">Work list</option>
        <option value="2">Credit list</option>
        <option value="3">Cooperation list</option>
        <option value="4">Sale list</option>
        <option value="5">Rental list</option>
      </select>
    </div>
  </div>
</div>
  
  <div *ngIf="patternItem=='1'">
    <app-work-list></app-work-list>
  </div>
  <div *ngIf="patternItem=='2'">
    <app-credit-list></app-credit-list>
  </div>
  <div *ngIf="patternItem=='3'">
    <app-cooperation-list></app-cooperation-list>
  </div>
  <div *ngIf="patternItem=='4'">
    <app-sale-list></app-sale-list>
  </div>
  <div *ngIf="patternItem=='5'">
    <app-rental-list></app-rental-list>
  </div>

