<div class="container pt-3">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
        <li class="nav-item">
          <a [ngClass]="{'active':patternItem=='1'}" class="nav-link" id="home-tab" data-toggle="tab" href="#work" role="tab" aria-controls="home"
            aria-selected="true" id="work_list" (click)="patternItem='1'"><strong>WORK CONTRACT</strong></a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active':patternItem=='2'}" class="nav-link" id="profile-tab" data-toggle="tab" href="#credit" role="tab" aria-controls="profile"
            aria-selected="false" (click)="patternItem='2'"><strong>LOAN CONTRACT</strong></a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active':patternItem=='3'}" class="nav-link" id="contact-tab" data-toggle="tab" href="#cooperation" role="tab" aria-controls="contact"
            aria-selected="false" (click)="patternItem='3'"><strong>COOPERATION CONTRACT</strong></a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active':patternItem=='4'}" class="nav-link" id="contact-tab" data-toggle="tab" href="#sale" role="tab" aria-controls="contact"
            aria-selected="false" (click)="patternItem='4'"><strong>CONTRACT OF SALE</strong></a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{'active':patternItem=='5'}" class="nav-link" id="contact-tab" data-toggle="tab" href="#rental" role="tab" aria-controls="contact"
            aria-selected="false" (click)="patternItem='5'"><strong>LEASE CONTRACT</strong></a>
        </li>
      </ul>
</div>
  
  <div *ngIf="patternItem=='1'">
    <app-work-list></app-work-list>
  </div>
  <div *ngIf="patternItem=='2'">
    <app-credit-list></app-credit-list>
  </div>
  <div *ngIf="patternItem=='3'">
    <app-cooperation-list></app-cooperation-list>
  </div>
  <div *ngIf="patternItem=='4'">
    <app-sale-list></app-sale-list>
  </div>
  <div *ngIf="patternItem=='5'">
    <app-rental-list></app-rental-list>
  </div>

