<div class="container pt-3">
  <div class="row">
    <div class="col">
      <h3>Choose pattern of new document: </h3>
    </div>
    <div class="col">
      <select class="custom-select" [(ngModel)]="patternItem">
        
        <option value="1">Work contract</option>
        <option value="2">Credit contract</option>
        <option value="3">Cooperation contract</option>
        <option value="4">Contract of sale</option>
        <option value="5">Rental contract</option>
      </select>
    </div>
  </div>
  <div *ngIf="patternItem=='0'"></div>
  <div *ngIf="patternItem=='1'">
    <app-work-contract></app-work-contract>
  </div>
  <div *ngIf="patternItem=='2'">
    <app-credit-contract></app-credit-contract>
  </div>
  <div *ngIf="patternItem=='3'">
    <app-cooperation-contract></app-cooperation-contract>
  </div>
  <div *ngIf="patternItem=='4'">
    <app-contract-of-sale></app-contract-of-sale>
  </div>
  <div *ngIf="patternItem=='5'">
    <app-rental-contract></app-rental-contract>
  </div>

</div>