
<div *ngIf="isLogin; else notLogin">
  <div class="row ml-2 mr-1 mb-5">
    <div class="col" (change)="setPage(0)" style="max-width: 250px;">
      <div style="position: fixed;max-width: 250px;">
        <div class="text-center">
          <h4>Filter</h4>
        </div>
        <hr>
        <label for="title">Filter by title</label>
        <input type="text" placeholder="Title" class="form-control" name="title" [(ngModel)]="form.title"
          #title="ngModel">
        <hr>
        <label for="customer">Filter by customer</label>
        <input type="text" placeholder="Customer" class="form-control" name="customer" [(ngModel)]="form.customer"
          #customer="ngModel">
        <hr>
        <label for="date">Filter between dates</label><br>
        from:<input type="date" class="form-control" name="fromDate" [(ngModel)]="form.fromDate" #fromDate="ngModel" />
        to:<input type="date" class="form-control" name="toDate" [(ngModel)]="form.toDate" #toDate="ngModel" />
        <hr>
        <label for="date">Filter by status</label>
        <div class="btn-group " style="width: 100%" (click)="setPage(0)">
          <button type="button" class="btn btn-primary" (click)="form.expired=''"
            [ngClass]="{'active':form.expired==''}">All</button>
          <button type="button" class="btn btn-primary" (click)="form.expired='true'"
            [ngClass]="{'active':form.expired=='true'}">Expired</button>
          <button type="button" class="btn btn-primary" (click)="form.expired='false'"
            [ngClass]="{'active':form.expired=='false'}">Active</button>
        </div>
        <hr>
        <label for="date">Filter by user</label><br>
        <div class="btn-group dropup" role="group" style="width: 100%">
          <button id="btn1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            {{label}}</button>
          <div class="dropdown-menu" style="width: 100%" aria-labelledby="btn1" (click)="setPage(0)">
            <a class="dropdown-item" (click)="form.username=''" (click)="label='All'">All</a>
            <a *ngFor="let user of listUsers" class="dropdown-item"
              (click)="form.username=user.username && label=user.username ">{{user.username}}</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col ml-2">
      <div class="row align-items-end mb-1">
        <div class="col">
          <h1 class="display-4">Documents ({{totalElements}})</h1>
        </div>
        <div class="col ">
          <button *ngIf="role === 'ROLE_ADMIN'" data-toggle="modal" data-target="#deleteall"
            class="btn btn-danger float-right">DeleteAll</button>

          <div class="btn-group float-right mr-3" role="group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Sort by:</span>
            </div>
            <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
              style="width: 200px">{{form.sortField}} : {{form.sortOrder}}</button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" (click)="getAllDocs()">
              <a class="dropdown-item" (click)="form.sortField='title'" (click)=" form.sortOrder='ASC'">Title: a ->
                z</a>
              <a class="dropdown-item" (click)="form.sortField='title'" (click)="form.sortOrder='DESC'">Title: z ->
                a</a>
              <a class="dropdown-item" (click)="form.sortField='customer'" (click)=" form.sortOrder='ASC'">Customer: a
                ->
                z</a>
              <a class="dropdown-item" (click)="form.sortField='customer'" (click)=" form.sortOrder='DESC'">Customer: z
                ->
                a</a>
              <a class="dropdown-item" (click)="form.sortField='dateOfCreation'" (click)=" form.sortOrder='DESC'">Date:
                newest -> eldest</a>
              <a class="dropdown-item" (click)="form.sortField='dateOfCreation'" (click)=" form.sortOrder='ASC'">Date:
                eldest -> newest</a>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="listDocs.length > 0; else falseLength">
        <table class="table table-hover  table-sm" #tabledocs>
          <thead class="thead-dark">
            <tr>

              <th scope="col">User</th>
              <th scope="col">Date</th>
              <th scope="col">Title</th>
              <th scope="col">Customer</th>
              <th scope="col">Status</th>
              <th scope="col">Options</th>
            </tr>
          </thead>
          <tbody>
            <!---| search:searchStr:searchColumn | filter:checkbox1.checked-->
            <tr *ngFor="let doc of listDocs ">

              <td style="width: 7%;">{{doc.user.username}}</td>
              <td style="width: 15%;">{{doc.dateOfCreation}}</td>
              <td style="width: 25%;">{{doc.title}}</td>
              <td style="width: 20%;">{{doc.customer}}</td>
              <td style="width: 10%;" *ngIf=!doc.expired style="color:green">Active</td>
              <td style="width: 10%;" *ngIf=doc.expired style="color:red">Expired</td>
              <td style="width: 20%;">
                <button routerLink="/document-edit" (click)="docEdit(doc)" class="btn btn-warning mr-2">View /
                  Edit</button>
                <button (click)="deleteDocument(doc)" class="btn btn-danger">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        
        <div class="row container f">              
          <div class="col mt-3">

            <ul class="pagination ">
              <li class="page-item" [ngClass]="{'disabled':page==0}">
                <a class="page-link " aria-disabled="true" (click)=nextPage(false)>Previous</a>
              </li>

              <li class="page-item" *ngFor="let p of pages" [ngClass]="{'active':page==p-1}">
                <a *ngIf="p != -1" class="page-link" (click)=setPage(p-1)>{{p}}</a>
                <a *ngIf="p == -1" class="page-link">...</a>
              </li>

              <li class="page-item" [ngClass]="{'disabled':page==length-1}">
                <a class="page-link" (click)=nextPage(true)>Next</a>
              </li>
            </ul>

          </div>     
          <div class="col mt-3">
            <nav aria-label="Page navigation example">
              <ul class="pagination ">
                <li class="page-item disabled">
                  <a class="page-link " aria-disabled="true">Show by </a>
                </li>
                <li class="page-item" *ngFor="let s of sizes" [ngClass]="{'active':size==s}">
                  <a class="page-link" (click)=setSize(s)>{{s}}</a>
                </li>
              </ul>
            </nav>
          </div>
        
      </div>
      </div>
      <br>
    </div>
  </div>
</div>

<ng-template #falseLength>
  <div class="text-center ">
    <br><br><br>
    <h3>Empty list of documents</h3>

  </div>

</ng-template>


<ng-template #notLogin>
  <div class="alert alert-danger" role="alert">
    <h2 class="alert-heading">Oops...</h2>
    <hr>
    <h5 class="mb-0">Unauthorized users are denied access. Please <a routerLink="/login" class="alert-link">login</a>!
    </h5>
  </div>
</ng-template>


<div class="modal fade" id="deleteall" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalCenterTitle">Confirm the action</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6>Are you sure you want to delete all document?</h6>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" data-dismiss="modal" (click)="deleteAll()" class="btn btn-success">Confirm delete</button>
      </div>
    </div>
  </div>
</div>


