<div *ngIf=isLoggedIn>
    <h1 class="display-2 text-center">Hello, {{username}}!</h1>
    <hr>
    <h3 class="display-4 text-center">
        This service allows you to create documents, edit documents, attach files to documents.
    </h3><br><br>
    <h3 class="display-4 text-center"><strong>Let's start!</strong></h3><br>
    <div class=" text-center"> 
   <button class="btn btn-success btn-lg " routerLink="/document-add">Create document!</button>
    </div> 
</div>

<div *ngIf=!isLoggedIn style="max-width:400px;">
  <h1 class="display-4">Login, please...</h1>
  <form class="align-center" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">

      <input type="text" class="form-control" name="username" placeholder="Username" [(ngModel)]="form.username"
        #username="ngModel" required minlength="5"
        [ngClass]="{'is-valid':username.valid && username.touched,'is-invalid':username.invalid && username.touched}" />
      <div *ngIf="username.touched && username.invalid">
        <small class="form-text alert alert-danger" *ngIf="username.errors.required">Username is required</small>
        <small class="form-text alert alert-danger" *ngIf="username.errors.minlength">Username must be at least 5
          characters</small>
      </div>

    </div>
    <div class="form-group ">
      <input type="password" class="form-control" name="password" placeholder="Password" [(ngModel)]="form.password"
        #password="ngModel" required minlength="6"
        [ngClass]="{'is-valid':password.valid && password.touched,'is-invalid':password.invalid && password.touched}" />
      <div *ngIf="password.touched && password.invalid">
        <small class="form-text alert alert-danger" *ngIf="password.errors.required">Password is required</small>
        <small class="form-text alert alert-danger" *ngIf="password.errors.minlength">Password must be at least 6
          characters</small>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" [disabled]="f.form.invalid">Login</button>
      <div><br></div>
      <small *ngIf="f.submitted && isLoginFailed" class="form-text alert alert-danger">
        Login failed: {{errorMessage}}
      </small>
    </div>
  </form>
  <hr />
  <p>Don't have an account?
    <a routerLink="/signup" class="btn btn-outline-success">Sign Up</a>
  </p>  
</div>