.navbar-nav li {
    padding-right: 20px
}

.container{
    padding-top: 10%
}

.blur{
    filter: blur(5px)
}

.card{
    text-align: end;    
}

.card-img-overlay{
    padding-top: 12%;
    padding-right: 10%
}

.app {
    background-image: linear-gradient( rgb(129, 169, 206), rgb(255, 255, 255));
    background-position: center;
    background-blend-mode: overlay;
}

.form {
    margin-top: 10%
}


.box {    
    overflow: hidden;
    width: 360px;
    grid-row-end: 400px;
    transition: 0.5s;   
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -10px 25px 50px rgb(0,0,0,.2);     
    text-shadow: 1px 1px 1px #fff;       
}

.footer{
    margin-top: 50px;
    background: rgb(81, 94, 117);
    height: 100px;
    width: 100%
}

.footertext{
    padding-top: 25px;
    color: #fff;

}




