.back {
    position: fixed;
    bottom: 0;
    background: rgba(255, 255, 255, 0.356);
    filter: blur(10px);
   
}

.forward {
    bottom: 0;
    background: inherit;
    position: fixed;
}

.filter {
    max-width: 250px;
   
}

.expiredString{
    color:rgb(241, 38, 38);
    /* background-image: linear-gradient(to right, rgb(255, 117, 117), rgb(255, 255, 255)) */
}

.activeString{
    color: rgb(21, 206, 21);
    /* background-image: linear-gradient(to right, rgb(115, 247, 103), rgb(255, 255, 255)) */
}