
.app {
    background-image: url('/../assets/images/account.png'), 
    linear-gradient( rgb(168, 168, 168), rgb(255, 255, 255));
    background-position: center;
    background-blend-mode: overlay;
}