
  <<h1 class="display-4">Registration form</h1>
  <hr>
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Your full name" name="name" [(ngModel)]="form.name"
        #name="ngModel" required maxlength="50" minlength="5"
        [ngClass]="{'is-valid':name.valid && name.touched,'is-invalid':name.invalid && name.touched}" />
      <div *ngIf="f.submitted && name.invalid || name.touched && name.invalid">
        <small class="form-text alert alert-warning" *ngIf="name.errors.required">Name is required</small>
        <small class="form-text alert alert-warning" *ngIf="name.errors.minlength">Name must be at least 5
          characters</small>
        <small class="form-text alert alert-warning" *ngIf="name.errors.maxlength">Name must be less than 50
          characters</small>
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Username" name="username" [(ngModel)]="form.username"
        #username="ngModel" required minlength="5" maxlength="20"
        [ngClass]="{'is-valid':username.valid && username.touched,'is-invalid':username.invalid && username.touched}" />
      <div *ngIf="f.submitted && username.invalid || username.touched && username.invalid">
        <small class="form-text alert alert-warning" *ngIf="username.errors.required">Username is required</small>
        <small class="form-text alert alert-warning" *ngIf="username.errors.minlength">Username must be at least 5
          characters</small>
        <small class="form-text alert alert-warning" *ngIf="username.errors.maxlength">Username must be less than 20
          characters</small>
      </div>
    </div>
    <div class="form-group">

      <input type="text" class="form-control" placeholder="Email" name="email" [(ngModel)]="form.email" #email="ngModel"
        required email minlength="6" maxlength="50"
        [ngClass]="{'is-valid':email.valid && email.touched,'is-invalid':email.invalid && email.touched}" />
      <div *ngIf="f.submitted && email.invalid || email.touched && email.invalid">
        <small class="form-text alert alert-warning" *ngIf="email.errors.required">Email is required</small>
        <small class="form-text alert alert-warning" *ngIf="email.errors.email">Email must be a valid email
          address</small>
        <small class="form-text alert alert-warning" *ngIf="email.errors.maxlength">Email must be less than 50
          characters</small>
        <small class="form-text alert alert-warning" *ngIf="email.errors.minlength">Email must be at least 6
          characters</small>
      </div>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" placeholder="Password" name="password" [(ngModel)]="form.password"
        #password="ngModel" required minlength="6"
        [ngClass]="{'is-valid':password.valid && password.touched,'is-invalid':password.invalid && password.touched}" />
      <div *ngIf="f.submitted && password.invalid || password.touched && password.invalid">
        <small class="form-text alert alert-warning" *ngIf="password.errors.required">Password is required</small>
        <small class="form-text alert alert-warning" *ngIf="password.errors.minlength">Password must be at least 6
          characters
        </small>
      </div>
    </div>

    <div class="form-group">
      <input type="password" class="form-control" placeholder="Confirm password" name="cpassword"
        [(ngModel)]="form.cpassword" #cpassword="ngModel" required
        [ngClass]="{'is-valid':form.password==form.cpassword && cpassword.touched,'is-invalid':form.password!=form.cpassword && cpassword.touched || cpassword.invalid && cpassword.touched}" />
      <div *ngIf="form.password!=form.cpassword ">
        <small class="form-text alert alert-warning">Passwords don't match</small>
      </div>
    </div>

    <div class="form-group">
      <button [disabled]="f.form.invalid || load || form.password!=form.cpassword" class="btn btn-primary"
        style="width:400px;">Register account</button>

    </div>
  </form>>
